.masthead-wrapper {
	background-image: url('/images/site/hero-image-2.png');
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;
	height: calc(100vh - 250px);
	@media (min-width: 821px) {
		height: calc(100vh - 50px);
	}
}
.masthead {
	h2 {
		margin-bottom: 0.938rem;
	}
	p {
		margin-bottom: 2rem;
	}
}
