// Header
.header {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	z-index: 100;
	align-items: center;
}

// Navigation
.navigation {
	.nav-item {
		a {
			color: #fff;
			transition: color 0.3s ease;
			&:hover {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
}
