// Header
.header {
	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	z-index: 100;
}

// Navigation
.navigation {
	.nav-item {
		a {
			color: #fff;
			transition: color 0.3s ease;
			&:hover {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
}

.navigationmobile {
	padding-top: 40px;
	.nav-item {
		display: block;
		font-size: 1.5rem;
		margin-left: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		a {
			color: #fff;
			transition: color 0.3s ease;
			padding: 10px 0;
			display: block;
			&:hover {
				color: rgba(255, 255, 255, 0.6);
			}
		}
	}
}

.close-menu {
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	position: relative;
	color: #fff;
	svg {
		width: 18px;
		height: 18px;
		position: absolute;
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -9px;
	}
}
