.contact-wrapper {
	background-color: #fff;
}

.contact-header {
	h2 {
		display: inline-block;
		position: relative;
		&:after {
			display: block;
			content: '';
			height: 3px;
			background: #1a82ff;
			width: 40px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 10px);
		}
	}
}

.social-item {
	span {
		&:last-child {
			color: #010007;
		}
		transition: color 0.3s ease;
	}
	&:hover {
		span {
			&:last-child {
				color: #1a82ff;
			}
		}
	}
}
