.platform-wrapper {
}

.platform-icon {
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    img {
        width: 48px;
        height: 48px;
    }
}