/* CSS Custom Properties */
body {
	--background: #010007;
	&.dark-mode {
		--is-darkMode: true;
		--background: #010007;
	}
	background: var(--background);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: #fff;
}
